/* ContactPage.css */
body{
    margin: 0;
    padding: 0;
    background-color: #b3aaaa;
    overflow: hidden;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(133, 133, 146); 
    padding: 30px; 
    }
  
    nav {
    display: flex;
    align-items: center;
    }

  .brand {
    display: flex;
    align-items: center;
   }

  .brand h1 {
    font-size: 36px;
    margin: 0 10px; 
    color: #000000;
    text-align: center;
  }
  
  .logo {
    width: 50px; 
    height: 50px; 
    padding-bottom: 1px;
  }

  .middle-text {
    text-align: center;
    margin-top: 50px; 
    position: relative;
    }

   .middle-text p {
    font-size: 24px;
    color: #000000;
    }
  
  
  .nav-links {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .trending-artists-box {
    background-color:  rgb(133, 133, 146);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
    height: 50px;
    transform: translateY(-50%);
  }

  .trending-artists-box li {
    display: block;
    margin: 10px 0;
    padding: 5px; 
  }
  
  .nav-links li,
  .trending-artists-box li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .nav-links li a,
  .trending-artists-box li a {
    text-decoration: none;
    color: #000000;
    padding: 5px 0;
    position: relative;
  }
  
  .nav-links li a::after,
  .trending-artists-box li a::after {
    content: "";
    background: #000000;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width ease 0.25s;
  }
  
  .nav-links li:not(.login-btn) a:hover::after,
  .trending-artists-box li a:hover::after {
     width: 100%;
  }
  
  .login-btn {
    background: rgb(133, 133, 146);
    padding: 8px 15px; 
    border-radius: 100px;
    cursor: pointer;
    transition: 0.25s;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0px 1px 3px #818181;
}
  
  .login-btn:hover {
    background: rgb(99, 214, 218);
  }
  
  span {
    color: #000000;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%; 
}

.contact-info div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.contact-info img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-info p {
    font-size: 30px;
    color: #000000;
    margin: 0;
}

   

  .footer {
    background-color: rgb(133, 133, 146);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    font-weight: 700;
}

.footer-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}