/* LoginPage.css */
body{
    margin: 0;
    padding: 0;
    background-color: #b3aaaa;
    overflow: hidden;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(133, 133, 146); 
    padding: 30px; 
    }
  
    nav {
    display: flex;
    align-items: center;
    }

  .brand {
    display: flex;
    align-items: center;
   }

  .brand h1 {
    font-size: 36px;
    margin: 0 10px; 
    color: #000000;
    text-align: center;
  }
  
  .logo {
    width: 50px; 
    height: 50px; 
    padding-bottom: 1px;
  }

  .middle-text {
    text-align: center;
    margin-top: 50px; 
    position: relative;
    }

   .middle-text p {
    font-size: 24px;
    color: #000000;
    }
  
  
  .nav-links {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  
  
  .nav-links li,
  .trending-artists-box li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .nav-links li a{
    text-decoration: none;
    color: #000000;
    padding: 5px 0;
    position: relative;
  }
  
  .nav-links li a::after{
    content: "";
    background: #000000;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width ease 0.25s;
  }
  
  .upload-container {
    text-align: center;
    padding: 20px;
    border: 2px dashed rgb(133, 133, 146);
    border-radius: 8px;
    background-color: rgb(133, 133, 146);
    
  
    max-width: 400px; 
    height: 400px; 

    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#file-input {
    display: none;
}

.custom-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #2980b9;
}
  
  

  .footer {
    background-color: rgb(133, 133, 146);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    font-weight: 700;
}

.footer-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}
