/* HomePage.css */
body {
    margin: 0;
    padding: 0;
    background-color: #b3aaaa;
    overflow: hidden;
}

#container {
    max-height: 100vh; 
    overflow: auto; 
}
/* Introduction text on home page*/
#homepage-welcome-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: #333;
}


#header {
    text-align: center;
    padding: 20px;
    font-size: 80px;
    font-weight: bold;
    color: #333;
}


#footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

#footer text {
    display: inline;
    margin:  20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#left-options-box{
    text-align: center;
    background-color: #333; /* I like this color option for the background for right now */ 
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 35%;
    height: 15%;
    width: 5%;
}

#left-options-box text{
    display: flex;
    margin:  20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


#login-create {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#music-notes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.music-note {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #333;
    opacity: 0.6;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
}

.note1 { left: 35%; top: 15%; animation-delay: 1.5s; }
.note2 { left: 65%; top: 15%; animation-delay: 2.5s; }

/* Music Notes */

/* Half Note Style */
.half-note {
    width: 20px;
    height: 20px;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    margin: 0 5px;
}
